<!DOCTYPE html>
<html lang="ko">
 
<head>
  <title>우리 둘만의 이야기</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .container-fluid{
    background-color: lightcoral;
  }
  .container{
    background-color: lightcoral;
  }
  .html{
    background-color: lightcoral;
  }
  .jumbotron{
    background-color: lightcoral;
  }
  .bg-primary{
    background-color: lightcoral;
  }
  .active{
    background-color: white;
  }
  table{
    border-style: ridge;
    border-color: white;
  }
  th{
    height: 40px;
    text-align: center;
    font-size: 15pt;
    color: white;
  }
  td{
    height: 200px;
    text-align: center;
    font-size: 13pt;
    color: black;
  }
  }
  </style>
</head>
 
<body>
 
  <!-- 네비게이션 바 시작 -->
  <nav class="navbar navbar-default navbar-fixed-top">
    
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                  aria-expanded="false", style="background-color: lightcoral;">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/" style="color:white">우리 둘만의 이야기</a>
          </div>
  
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav" >
                  <li class="active">
                      <a href="/" style="color:black">둘만의 일기</a>
                  </li>
                  <li>
                      <a id="loginmenu" style="color:white" href="/logout">로그아웃</a>
                  </li>
 
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

 
  <!-- 네비게이션 바 끝 -->
 
 
 

  <div class="container-fluid">
    <div class="jumbotron">
      <h1>
        <span style="color:white">당신의 생각을 말해줘요.</span>
      </h1>
      <p class="bg-light text-white">
        <span style="color:white">상대방에게 하고싶은 말을 적어주세요!</span>
      </p>
    </div>
  </div>
 


  <!-- 쓰기 텍스트 필드 시작-->
  <div class="container-fluid">
    <form id="insert_form">
      <div class="form-group">
        <label for="comment" style="color:white">일기 적기</label>
        
        <textarea  class="form-control"  rows="10" name="comment" placeholder="일기를 적어보세요!"></textarea>
        <br>
  
        <input type="text" name="user"  placeholder="아이디를 적어주세요!"/>
        <br>
        <br>
        <input type="submit" value="등록하기">
          
      </div>
    </form>
  </div>
  <!-- 쓰기 텍스트 필드 끝-->
 
 
 
  <!-- 일기리스트 출력하기-->
  <div class="container-fluid">
    <hr>
    <h3 style="color:white">일기 리스트</h3>
    <br>
    <!-- 일기 리스트 붙일 곳 -->
    <div class="diarylist">
      <table width="100%" border="1">
        <tr>
          <th>번호</th>
          <th>이름</th>
          <th>내용 </th>
          <th>삭제</th>
        </tr>
        <% data.forEach(function(item, index) { %>
        <tr>
            <td width="50"><%= item.id %> </td>
            <td width="50"><%= item.username %></td>
            <td width="1000"; color=black><%= item.comment %></td>
            <td width="50"><a href="/delete/<%= item.id %>">삭제</a></td>
        </tr>
        <% }); %>
      </table>
    </div>
  </div>
</body>
</html>